@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=Merriweather:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
  }


  button::-moz-focus-inner 
  {
    border: 0;
  }
  button, 
  button:active, 
  button:focus {
      outline: none;
      border: 0;
  }




body {
    background-color: black;
    color: white
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.logo {
    padding: 0 0 0 20px;
}

.logo-link {
    transition: 0.3s;
}

.logo-link:hover, .pre:hover, .pos:hover, .last:hover, .play-btn:hover {
    -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(
7deg
) brightness(92%) contrast(87%);
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(
7deg
) brightness(92%) contrast(87%);
}

.fir:hover {
    -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(
7deg
) brightness(92%) contrast(87%);
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(
7deg
) brightness(92%) contrast(87%);
}



.nav-menu {
    display: flex;
    align-items: baseline;
}

.nav-list {
    display: flex;
    padding: 0 32px 0 0;
}

.nav-list-item {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 50px;
    padding: 0 0 0 30px;
}

.nav-list-link {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-list-link:hover {
    color: #BDAE82;
}

.language {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    color: #FFFFFF;
}
.burger-menu {
    display: none;
}
.hero {
    margin: 7px 0 0 0;
    background-image: url('../img/bg.jpg');
    height: 910px;
}

.hero-text-block {
    margin: 166px 0 0 81px;
}

h1 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
}

.hero-text {
    padding: 10px 0 0 0;
    width: 470px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
}

.hero-btn {
    margin: 24px 0 0 0;
    width: 220px;
    height: 55px;
    background: #BDAE82;
    border-radius: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}


.hero-btn:hover {
    color: white;
    cursor: pointer;
}


.ru {
    padding:  0 19px 0 8px;
}
.ru:hover {
    cursor: pointer;
    color: #BDAE82
}


.en {
    padding:  0 8px 0 0;
    color: #BDAE82;
}

.en:hover {
    cursor: pointer;
    color: white;
}

.elem3 {
    padding: 0 1px 0 0;
}

.elem2 {
    padding: 0 31px 0 0;
}
.elem1 {
    padding: 0 31px 0 0;
}

.header-block {
    width: 705px;
    margin: 0px auto;
    padding: 94px 0px 0px;
    display: flex;
    align-items: center;
}

.line-first, .line-second{
    height: 2px;
    background: #BDAE82;
}
.skills-line-1{
     width: 274px;
}
.skills-line-2{
     width: 274px;
}

h2 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    padding: 0 22px 0 23px;
}

.skills-items {
    max-width: 1344px;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    padding: 60px 0 0 0;
}

.retouch {
    padding: 0px 80px 0px 80px;
}

.photography {
    padding: 0 0 0 39px;
}

.shooting {
    padding: 0 0 0 81px;
}


.skills-elem {
    text-align: center;
}

.skills-elem-header {
    padding: 48px 0 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.skills-elem-descr {
    padding: 20px 0 0 0;
    width: 280px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}


.header-block-portfolio {
    width: 705px;
    margin: 0px auto;
    padding: 10px 0px 0px 0;
    display: flex;
    align-items: center;
}



.portfolio {
    margin: 100px 0 0 0;
}
.portfolio-line-1 {
    width: 238px;
}
.portfolio-line-2 {
    width: 241px;
}

.potrfolio-btn {
    display: flex;
    justify-content: center;
    margin: 59px 0 0 0;
}


.btns {
    background: black;
    width: 220px;
    height: 55px;
    border: 2px solid #BDAE82;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #BDAE82;
}

.btns:hover {
    background: #BDAE82;
    color: black;
    cursor: pointer;
}

.winter-btn {
    margin: 0 0 0 0;
}
.spring-btn {
    margin: 0 5px 0 5px;
}
.summer-btn {
    margin: 0 4px 0 0px;
}
.autumn-btn {
    margin: 0 0 0 0;
    background: #BDAE82;
    color: black;
}
.autumn-btn:hover {
    background: black;
    color: #BDAE82;
    cursor: pointer;
}

.potrfolio-img {
    margin: 60px 0 0 0;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
}

.one {
    padding: 0 0 0 20px;
}
.two {
    padding: 0 0 0 25px;
}
.three {
    padding: 0px 0 0 25px;
}
.four {
    padding: 22px 0 0 20px;
}
.five {
    padding: 22px 0 0 25px; 
}
.six {
    padding: 22px 0 0 25px;
}




.header-block-video {
    width: 705px;
    margin: 0px auto;
    padding: 97px 0px 0px;
    display: flex;
    align-items: center;
}





.video-line-1 {
    width: 273px;
}

.video-line-2 {
    width: 273px;
}

.video-block {
    margin: 60px 0 0 20px;
    position: relative;
    z-index: 1;
}

.video-content-768 {
    display: none;
}


.play-btn {
    position: absolute;
    top: 286px;
    left: 629px;
    background: rgba(205, 214, 219, 0);
    border-radius: 50%;
    border: 1px solid rgba(205, 214, 219, 0);
    
}

.play-btn:hover {
    cursor: pointer;
    top: 285px;
    
}

.price-line-1 {
   width: 279px;
}
.price-line-2 {
    width: 279px;
 }

.price-block {
     display: flex;
     max-width: 1440px;
 }

.standart {
    
    width: 450px;
    height: 505px;
    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first {
    margin:  0 0 0 20px;
}
.second {
    margin:  0 0 0 26px;
}
.third {
    margin:  0 0 0 25px;
}


.header-block-price {
    width: 705px;
    margin: 0px auto;
    padding: 97px 0px 60px;
    display: flex;
    align-items: center;
}


.price-header {
    padding: 41px 0 0 0;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.cost {
    padding: 20px 0 0 0;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
}

.price-items {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.price-btn {
    margin: 40px 0 0 0;
    background: #BDAE82;
    border-radius: 0px;
    width: 220px;
    height: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.price-btn:hover {
    cursor: pointer;
    color: white;
}


.contacts {
    margin: 100px 0 0 0;
    background-image: url('../img/contacts.jpg');
    height: 700px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-header {
    padding: 60px 243px 40px 0;
}

input {
    margin: 0 20px 20px 0;
    width: 450px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

::placeholder {
    padding: 5px 0 0 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
  }

textarea {
    width: 450px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
}

.form-btn {
    margin: 30px 250px 0 0;
    width: 220px;
    height: 55px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #BDAE82;
    border-radius: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.form-btn:hover {
    cursor: pointer;
    color: white;
}




.footer { 
    margin: 50px 0 50px 23px;
    display: flex;
    
}

.github-block {
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}

.github-block a {
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}

.github-block a:hover {
    color: #BDAE82;
}

.github-block li {
    padding: 0 20px 0 0;
}

li {
    list-style-type: none;
}

.rs-block {
    padding: 0 0 0 407px;;
}

.rs-block a {
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}

.rs-block a:hover {
    color: #BDAE82;
}


.social-block {
    padding-left: 411px;
    display: flex;
}

.fir {
    padding-top: 11px;
    padding-right: 30px;
}

.pre {
    padding-top: 11px;
    padding-right: 29px;
}

.pos {
    padding-top: 14px;
    padding-right: 24px;
}

.last {
    padding-top: 11px;
    padding-right: 0;
}
.onl-flex-768 {
    display: none;
}



@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
    .hero {
        max-width: 768px;
        margin: 0;
        height: 590px;
        background-size: cover;
        background-image: url('../img/hero768.jpg');
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 21px 0;
    }
    .logo {
        padding: 0 0 0 36px;
    }
    .nav-menu {
        display: none;
    }
    .hero-text-block {
        margin: 76px 0 0 36px;
    }
    h1 {
        font-family: Merriweather;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 64px;
        color: #FFFFFF;
    }
    .hero-text {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 20px 0 0 0;
        width: 423px;

    }

    .language {
        padding: 0 0 0 423px;
    }

    .hero-btn {
        margin: 59px 0 0 0;
    }
    .burger-menu {
        display: block;
        margin: 0 40px 0 0;
    }
    .ru {
        padding: 0 0px 0 19px;
    }


    .header-block {
        width: 364px;
        padding: 100px 0px 0px;
    }

    h2 {
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #BDAE82;
    }
    .skills-line-1 {
        width: 117px;
    }
    .skills-line-2 {
        width: 116px;
    }
    .skills-items {
        padding: 65px 0 0 0;
    }
    .photography {
        padding: 0 0 0 46px;
    }
    .shooting {
        padding: 0 0 0 65px;
    }
    .skills-elem-header {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        padding: 28px 0 0 0;
    }
    .skills-elem-descr {
        padding: 20px 0 0 0;
        width: 280px;
        font-size: 18px;
        line-height: 22px;
    }
    .retouch {
        padding: 76px 62px 0px 46px;
    }
    .audio {
        padding: 74px 0 0 2px;
    }
    .skills-items {
        flex-wrap: wrap;
    }

    .header-block-portfolio {
        width: 364px;
    }
    .portfolio-line-1 {
        width: 98px;
    }
    .portfolio-line-2 {
        width: 99px;
    }
    .portfolio {
        margin: 169px 0px 0 0px;
    }
    .potrfolio-btn {
        max-width: 469px;
        flex-wrap: wrap;
        margin: 70px auto 0;
    }
    .winter-btn {
        margin: 0px 0 6px 6px;
    }
    .potrfolio-img {
        margin: 59px auto 0;
        max-width: 490px;
    }
    .two {
        padding: 22.5px 0 0 20px;
    }
    .three {
        padding: 22.5px 0 0 20px;
    }
    .four {
        padding: 22.5px 0 0 20px;
    }
    .five {
        padding: 22.5px 0 0 20px;
    }
    .six {
        padding: 22.5px 0 0 20px;
    }
    .video-block {
        display: none;
    }
    .video-content-768 {
        display: block;
        margin: 71px 0 0 0;
        position: relative;
        z-index: 1;
    }

    .header-block-video {
        width: 364px;
    }

    .play-btn {
        top: 174px;
        left: 343px;
    }

    .price-block {
        flex-wrap: wrap;
        max-width: 461px;
        margin: 0 auto;
    }
    .header-block-price {
        width: 364px;
        padding: 98px 0px 70px;
    }
    .standart {
        width: 420px;
    }
    .second {
        margin: 49px 0 0 20px;
    }
    .third {
        margin: 50px 0 0 21px;
    }

    .contacts {
        margin: 80.5px 0 0 0;
        background-image: url(../img/contacts-768.jpg);
        height: 600px;
    }

    .contact-header {
        padding: 72px 294px 40px 0;
    }
    input {
        margin: 12px 159px 20px 0;
    }
    .phone {
        margin: 1px 0 19px 0;
    }
    .form-btn {
        margin: 31px 274px 0 0;
    }

    .footer {
        margin: 16px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rs-block {
        padding: 7px 0 0 0;
    }
    .social-block {
        padding: 0 0 0 0;
    }
    .github-block li {
        padding: 16px 0 0 0;
    }
    .github-block a {
        line-height: 0px;
    }
    .github-block {
        line-height: 0px;
        align-items: center;
    }
    .social-block {
        padding: 7px 0 0 0;
    }

}

.menu-right {
    width: 620px;
    height: 1024px;
    background-color: black;
    position: fixed;
    top: 0;
    right: -630px;
    transition: 1s;
    z-index: 1000;
}

.menu-right-list {
    padding: 134px 0 0 127px;
}

.meni-right-li a {
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 34.8235px;
    line-height: 73px;
    color: #FFFFFF;
}

.x {
    cursor: pointer;
    position: absolute;
    top: 23px;
    right: 62px;
}



@media (min-width: 320px) {
    .container {
        width: 768px;
    }
    .hero {
        width: 768px;
    }
    .video {
        width: 768px;
    }
    .price {
        width: 768px;
    }
    .contacts {
        width: 768px;
    }
    .footer {
        width: 768px;
    }
}


@media (min-width: 1440px) {
    .hero, .container, .video, .price, .contacts, .footer {
        width: 1440px;
        margin: 0 auto;
    }
}

